<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>299496294904-8bvbmarbjh202vu0mk09nds30n507c5a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.299496294904-8bvbmarbjh202vu0mk09nds30n507c5a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>299496294904-s23iedelp2k2ilnqr2qbsseervt2bilm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCGJtAbKNPLDoalnNzSpYYj6a07PoLIhnw</string>
	<key>GCM_SENDER_ID</key>
	<string>299496294904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nl.madlogic.app.dev</string>
	<key>PROJECT_ID</key>
	<string>pc2-app</string>
	<key>STORAGE_BUCKET</key>
	<string>pc2-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:299496294904:ios:21517f4ae903e653836e0d</string>
	<key>DATABASE_URL</key>
	<string>https://pc2-app.firebaseio.com</string>
</dict>
</plist>